h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

img{
    width: 200px;
    margin-bottom: 10px;
}

form{
    width: 500px;
    margin: 30px auto;                           /* "auto" centraliza o formulário */ 
    text-align: center;
    padding: 20px;                               /* Adiciona padding para espaçamento interno */
    border: 1px solid #ccc;                    /* Adiciona borda ao formulário */
    border-radius: 10px;                         /* Adiciona arredondamento às bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   /* Adiciona sombra ao formulário */
    background-color: #f9f9f9;                 /* Adiciona cor de fundo ao formulário */
}

input{
    margin-bottom: 10px;
}

input[type="button"]{
    margin-left: 10px;
    margin-top: 10px;
}

input::placeholder{
    font-weight: 500;
}

table{
    width: 600px;
    margin: 30px auto;               /* "auto" centraliza a tabela */ 
    text-align: center;
    border-collapse: collapse;       /* Colapsa as linhas da tabela */
}

.thead-dark{
    background-color: #212121;     /* Cor de fundo da tabela */
    color: #fff;                   /* Cor da legenda da tabela */
}

th, td{
    border: 1px solid #ddd;        /* Bordas da tabela */
    padding: 10px;                   /* Espaçamento entre as células */
    text-align: left;                /* Alinhamento da legenda */
    border-collapse: collapse;       /* Colapsa as linhas da tabela */
}

th{
    background-color: #212121;     /* Cor de fundo da legenda */
    color: #fff;                   /* Cor da legenda */
}